body {
    font-family: Arial, sans-serif;
    background-color: #5a5cda;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #eeda77;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  
  .dropdown {
    flex: 1 1 calc(50% - 5px);
    position: relative;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #140e0e;
    border-radius: 4px;
    background-color: #faf9f9;
  }
  
  .amount {
    flex: 1 1 100%;
  }
  
  .amount input {
    width: calc(100% - 40px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #0e0000;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .msg {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
  }
